.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  background-color: #111;
  z-index: 1;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  object-fit: contain;
  width: 30px;
}
.nav__text {
  cursor: pointer;
  scroll-snap-align: top;
  margin: center;
  margin-left: 100px;
  padding-top: 10x;
  height: 100;
  color: white;
  object-fit: contain;

  font-family: Acme, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(222, 222, 222, 1);
  text-transform: capitalize;
  font-style: italic;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 0px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
